body{
	margin:0;
	padding:0;
}
.box1{
	position:relative;
	width:150px;
	background:rgba(0,0,0,0.4);
	text-align:left;
	margin-top:1% 0 99% 0;
	color:white;
	font-family:san-sarif;
}
.box-img{
	margin:10px;
	border-radius:60%;
	width:150px;
	height:150px;
}
.details{
	margin:10px;
	float:left;
	width:350px;
	height:150px;
	background-color:#fff;
}
/*Archana*/
.box2{
	position:relative;
	width:150px;
	background:rgba(0,0,0,0.4);
	text-align:left;
	margin-top:1% 0 99% 0;
	color:white;
	font-family:san-sarif;
}
.box-img2{
	margin:10px;
	border-radius:60%;
	width:150px;
	height:150px;
}
.details{
	margin:10px;
	float:left;
	width:350px;
	height:150px;
	background-color:#fff;
}
/*maha sir*/
.box3{
	position:relative;
	width:150px;
	background:rgba(0,0,0,0.4);
	text-align:left;
	margin-top:1% 0 99% 0;
	color:white;
	font-family:san-sarif;
}
.box-img3{
	margin:10px;
	border-radius:50%;
	width:150px;
	height:150px;
}
.details{
	margin:10px;
	float:left;
	width:350px;
	height:150px;
	background-color:#fff;
}
/*sanjith */
.box4{
	position:relative;
	width:150px;
	background:rgba(0,0,0,0.4);
	text-align:left;
	margin-top:1% 0 99% 0;
	color:white;
	font-family:san-sarif;
}
.box-img4{
	margin:10px;
	border-radius:50%;
	width:150px;
	height:150px;
}
.details{
	margin:10px;
	float:left;
	width:350px;
	height:150px;
	background-color:#fff;
}
/* aslam dean */
.box5{
	position:relative;
	width:150px;
	background:rgba(0,0,0,0.4);
	text-align:left;
	margin-top:1% 0 99% 0;
	color:white;
	font-family:san-sarif;
}
.box-img5{
	margin:20px;
	border-radius:50%;
	width:170px;
	height:170px;
}
.details1{
	padding:2px;
	margin:10px;
	float:left;
	width:500px;
	height:180px;
	background-color:#fff;
}